
/* Dashboard Sidebar */
.sidebar-open{
    left: 17.5%;
    position: fixed;
    width: 82.5%;
}


/* Dashboard Content */

.dashboard-content {
    transition: all 0.3s;
    position: fixed;
    left: 10%;
    width: 90%;
}

.dashboard-content.mobile {
    left: 12.5%;
    width: 87.5%;
    font-size: 10px;
}






/* Modal */

.modal-content {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.form-control {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.form-control:focus {
    background-color: #333;
    color: rgb(207, 207, 207);
}

/* Dropdown Toggle */
.dropdown-toggle::after {
    display: none !important; 
}

.dropdown-toggle.btn.btn-dark {
    border: none;
    background-color: #333;
}

.dropdown-toggle.btn.btn-dark:hover {
    background-color: rgb(81, 81, 81);
}

.danger.dropdown-item {
    background-color: #dc3545;
}
.danger.dropdown-item:hover {
    background-color: #c32f3e;
}

/* Dashboard Content List Group */
.list-group-item-dark {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.list-group-item-dark:hover {
    background-color: rgb(81, 81, 81);
    color: rgb(207, 207, 207);
}


.list-group-item-dark.options:hover {
    /* cursor:pointer; */
    background-color: #333;    
}




.project-showcase {
    border-bottom: 3px solid hsla(0, 0%, 67.8%, 0.2);
}


.list-group-container:hover {
    background-color: #333;    
}

/* ProjectEntry */
.mobile-container {
    margin: 0;
}

