

#home-languages {
    background-color:'red';
    align-items: 'right';
    border: '0.35em solid';
    border-color: 'black';
    float: 'right';
}





.languages {
    background-color:'red';
    align-items: 'right';
    border: '0.35em solid';
    border-color: 'black';
    float: 'right';
}


