.mobile.toggled {
  width: 50px !important;
  min-width: 50px !important;
}



.mobile-toggle > .head-div.toggled {
  padding-left: calc(1em * .25) !important;
  padding-right: calc(1em * 0.25) !important;
}