
/* Dashboard Sidebar */
.sidebar-open{
    left: 17.5%;
    position: fixed;
    width: 82.5%;
}


/* Dashboard Content */

.dashboard-content {
    transition: all 0.3s;
    position: fixed;
    left: 10%;
    width: 90%;
}

.dashboard-content.mobile {
    left: 12.5%;
    width: 87.5%;
    font-size: 10px;
}






/* Modal */
.btn-close {
    background: transparent url(
        "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>"
        ) center/1em auto no-repeat;
}
.modal-content {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.form-control {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.form-control:focus {
    background-color: #333;
    color: rgb(207, 207, 207);
}
select {
    background-color: #333;
    color: rgb(207, 207, 207);
}
select.form-select {
    background-color: #333;
    color: rgb(207, 207, 207);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23CCCCCC%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
}
option {
    background-color: #333;
    color: rgb(207, 207, 207);
}

/* Dropdown Toggle */
.dropdown-toggle::after {
    display: none !important; 
}

.dropdown-toggle.btn.btn-dark {
    border: none;
    background-color: #333;
}

.dropdown-toggle.btn.btn-dark:hover {
    background-color: rgb(81, 81, 81);
}

.danger.dropdown-item {
    background-color: #dc3545;
}
.danger.dropdown-item:hover {
    background-color: #c32f3e;
}

/* Dashboard Content List Group */
.list-group-item-dark {
    background-color: #333;
    color: rgb(207, 207, 207);
}

.list-group-item-dark:hover {
    background-color: rgb(81, 81, 81);
    color: rgb(207, 207, 207);
}


.list-group-item-dark.options:hover {
    /* cursor:pointer; */
    background-color: #333;    
}




.project-showcase {
    border-bottom: 3px solid hsla(0, 0%, 67.8%, 0.2);
}


.list-group-container:hover {
    background-color: #333;    
}

/* ProjectEntry */
.mobile-container {
    margin: 0;
}

